
$headshot-url: url('../assets/headshot.jpg');
$headshot-size: 400px;


@media screen and (max-width: 630px){

	#about-content {

		img {
			display: block;
			width: 80%;
			max-width: $headshot-size;
			height: auto;
			border: 3px solid black;
			margin: 30px auto;
		}

		p {

		}

	}
}
@media screen and (min-width: 631px){


	#about-content {
		display: flex;
		justify-content: center;

		img, p {
			float: left;
		}

		img {
			max-width: $headshot-size;
			max-height: $headshot-size;
			background-image: $headshot-url;
			border: 3px solid black;
			margin: 50px auto;
		}

		p {
			margin: 50px;
		}

	}
}

