<header class="page-header green-gradient">
  <ul class="small-top-nav">
    <li class="small-nav-logo" ui-sref="home"></li>
    <li class="small-nav-link" ui-sref="books">Books</li>
  </ul>

  <h2> About the Author </h2>

</header>

<main> 

  <div id="about-content">

    <figure id="headshot"></figure>

    <p>Andrea Cueva is a Folklore student at the University of Oregon. Having traveled out of the country frequently starting at age 6, she has enjoyed learning about the different values, traditions, and customs of people all over the world. She feels as though the human experience is one that is best when shared, and this book exemplifies that. No one likes flying cockroaches, and it is certainly a subject we can relate to the world over, regardless of age, race, gender, or religion. This is her goal both with this book and with her future writings – giving cultural relativism to children and adults alike through a smile and laughter, in this case bringing the world closer one flying cockroach at a time. To contact Andrea directly, go to www.crystalcavepublishing.com and fill out the Contact form. She will do her very best to reply.
    </p>

  </div>

</main>

<cc-footer></cc-footer>
