<header id="contact-header" class="page-header red-gradient">

  <ul class="small-top-nav">
    <li class="small-nav-logo" ui-sref="home"></li>
    <li class="small-nav-link" ui-sref="about">About</li>
    <li class="small-nav-link" ui-sref="books">Books</li>
  </ul>

  <h2>Contact</h2>

</header>

<main id="contact-page">

<h3>Get in touch! We'd love to hear from you.</h3>

<ul id="contact-list">
  <li class="contact-method">
    <a href="https://www.facebook.com/crystalcavepublishing/">Facebook</a>
  </li>
  <li class="contact-method">
    <a href="mailto:andrea@crystalcavepublishing.com">Email</a>
  </li>

</ul>

</main>

<cc-footer id="contact-footer"></cc-footer>
