
<header id="home-page-header" class="purple-gradient">

<div id="logo-container" class="pale-purple-glow">
  <div id="logo">
  </div>
</div>

<h2 id="company-name"> Crystal Cave Publishing </h2>

<nav>
  <ul>
    <li ui-sref="books">Books</li>
    <li ui-sref="about">About Us</li>
  </ul>
</nav> 

</header> 
<main id="home-page">

<div id="book-cta"> 
  <h3 class="announcement"> New Book Out Now! </h3> 
  <figure id="book-cover"></figure> 
  <p class="more-info"> <a ui-sref="books">More info</a> </p>
  <div class="buy-buttons"> 
    <button class="buy-button">Amazon</button>
    <button class="buy-button">Nook</button>
    <button class="buy-button"> ? </button> 
  </div> 
</div>

</main>
<cc-footer></cc-footer>
